body {
	padding-top:60px;
}

body.project .work {
	padding-top:2%;
}

body.project .work img {
	margin-bottom:3%;
}

/* custom responsive styles */
@media (min-width: 992px) {
	body.project .description {
		position:fixed;
		top:60px;
	}
}
@media (min-width:769px) {
	ul.nav.navbar-nav {
		float:right;
	}
}